<section>
  <div class="parallax-container">
    <div class="parallax"><img src="../../../assets/images/image.jpg"></div>
  </div>
  <div class="section white">

    <div class="container">

      <div class="row ">
        <h2 class="header">REPOSITÓRIO INSTITUCIONAL</h2>
        <p class="grey-text text-darken-3 lighten-3">O repositório instituicional UNIFAE tem como objetivo preservar o
          conteúdo científico
          produzido na universidade, proporcionando aos alunos e também à comunidade seu acesso
          digital.</p>
      </div>

      <div class="row">

        <div class="card col l5 m12 s12">
          <div class="card-content">
            <h5 class="center">SUBMISSÕES</h5>
            <h3 class="center">{{artigos}}</h3>
          </div>
        </div>

        <div class="col l2 m0 s0">
        </div>

        <div class="card col l5 m12 s12">
          <div class="card-content">
            <h5 class="center">ALUNOS</h5>
            <h3 class="center">{{alunos}}</h3>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>